<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>
				<!--First Form Field!-->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.proposalName.$invalid}">
					<label class="control-label" for="proposalName">Name of Proposal</label>
					<div class="controls">
						<input name="proposalName" type="text" data-ng-model="article.proposalName" id="proposalName" class="form-control" placeholder="Name of proposal" required>
					</div>
					<div ng-show="submitted && articleForm.proposalName.$invalid" class="help-block">
						<p ng-show="articleForm.proposalName.$error.required" class="text-danger">Name of proposal is required</p>
					</div>
				</div>
				<!--End of First Form Field!-->
				<!--Second Form Field!-->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.sponsorName.$invalid}">
					<label class="control-label" for="sponsorName">Name of Sponsor</label>
					<div class="controls">
						<input name="sponsorName" type="text" data-ng-model="article.sponsorName" id="sponsorName" class="form-control" placeholder="Name of sponsor" required>
					</div>
					<div ng-show="submitted && articleForm.sponsorName.$invalid" class="help-block">
						<p ng-show="articleForm.sponsorName.$error.required" class="text-danger">Name of sponsor is required</p>
					</div>
				</div>
				<!--End of Second Form Field!-->
				<!--Third Form Field!-->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.govLevel.$invalid}">
					<label class="control-label" for="govLevel">Goverment Level</label>
					<div class="controls">
						<input name="govLevel" type="text" data-ng-model="article.govLevel" id="govLevel" class="form-control" placeholder="Goverment Level" required>
					</div>
					<div ng-show="submitted && articleForm.govLevel.$invalid" class="help-block">
						<p ng-show="articleForm.govLevel.$error.required" class="text-danger">Name of sponsor is required</p>
					</div>
				</div>
				<!--End of Third Form Field!-->
				<!--Fourth Form Field!-->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.summary.$invalid}">
					<label class="control-label" for="summary">Summary</label>
					<div class="controls">
						<textarea name="summary" data-ng-model="article.summary" id="summary" class="form-control" cols="30" rows="10" placeholder="Proposal summary" required></textarea>
					</div>
					<div ng-show="submitted && articleForm.summary.$invalid" class="help-block">
						<p ng-show="articleForm.summary.$error.required" class="text-danger">Summary is required</p>
					</div>
				</div>
				<!--End of Fourth Field!-->
				<!--Fifth Form Field!-->
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.proposalLink.$invalid}">
					<label class="control-label" for="proposalLink">Proposal link</label>
					<div class="controls">
						<textarea name="proposalLink" data-ng-model="article.proposalLink" id="proposalLink" class="form-control" cols="30" rows="10" placeholder="Proposal link" required></textarea>
					</div>
					<div ng-show="submitted && articleForm.summary.$invalid" class="help-block">
						<p ng-show="articleForm.summary.$error.required" class="text-danger">Proposal link is required</p>
					</div>
				</div>
				<!--End of Fifth Form Field!-->
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>