<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<!--<h1>Proposals:</h1>!-->
	</div>

	<div class="container">
	<div class="row">
  			<div class="col col-sm-3">
              	<div id="sidebar">
      			<ul class="nav nav-stacked">
                    <li><h3 class="highlight">Policy Proposals <i class="glyphicon glyphicon-check pull-right"></i></h3></li>
                  	<li><a href="#">Local</a></li>
          			<li><a href="#">State</a></li>
          			<li><a href="#">National</a></li>
				</ul>
               </div>
      		</div> 

	  <div class="col col-sm-9">
     <div class="panel">
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<h3>Title: <class="list-group-item-heading proposalHeading" data-ng-bind= "article.proposalName"></h3>
			<hr />
			<span><p>Sponsor(s): <class="list-group-item-heading" data-ng-bind="article.sponsorName"></p>
			<span><p>Level of Government: <class="list-group-item-text" data-ng-bind="article.govLevel"></p>
			<span><p>Proposal Summary: </p>
			<p class="list-group-item-text" data-ng-bind="article.summary | limitTo:600"></p>
		        <p></p>
		        <p>
		          <i class="icon-user"></i> by <span data-ng-bind="article.user.displayName"></span>
		          | <i class="icon-calendar"></i> <span data-ng-bind="article.created | date:'mediumDate'"></span> 
		          | <i class="icon-comment"></i> <i>3 Comments</i>
		          | <i class="icon-share"></i> <i>39 Shares</i>
		        </p>
		   <!--   </div>
		    </div> -->
				</a>
			<!-- </div> -->
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</div>
</div>
</div>
</div>



</section>
